# GitHub Credentials
# Generate a Fine-Grained Personal Access Token (PAT) with appropriate organization/repository scopes
GH_TOKEN=your_github_pat_here

# Firestore Configurations (if override is needed)
GCP_PROJECT_ID=your_gcp_project_id_here
FIRESTORE_EMULATOR_HOST=localhost:8080
